.task-title {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.task-list
{
    list-style: none;
    padding-left: 0;
}

.statistics {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-list li
{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    background-color: #f8f9fa;
}

.task-list input[type="checkbox"]
{
    margin-right: 10px;
}

.task-time
{
    color: #6c757d;
    margin-left: auto;
    margin-right: 20px;
}

.action-buttons
{
    display: flex;
    gap: 8px;
}